body{
	background-color: #5E6BE8;
	margin: 0;
}
h2{
	text-align: center;
}
p{
	text-align: center;
}


.photo{
	width: 150px;
	height: 200px;
	border:solid 1px black;
	border-radius:15px; 
}
#mosaique{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
#titre{
	background-image: url("img/banniere.jpg");
	height: 200px;
}